*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width: 100vw;
    height: 15vh;
    padding-top: 1rem;
    background-color: rgb(0, 133, 133);
    border: 0.4rem black solid;
    -webkit-box-shadow: -1px -3px 19px 13px rgba(0,127,114,0.85); 
    box-shadow: -1px -3px 19px 13px rgba(0,127,114,0.85);
}
.conten0{
    width: 90%;
    height: 90%;
    padding: 2rem;
    margin: auto;
    background-color: rgb(131, 255, 255);
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem black solid;
    -webkit-box-shadow: -1px -3px 19px 13px rgba(7, 255, 230, 0.85); 
    box-shadow: -1px -3px 19px 13px rgba(2, 196, 177, 0.85);
}
.conten0 h2{
    font-size: 2rem;
    text-transform: uppercase;
}
main{
    width: 100vw;
    height: 50vh;
    padding-top: 2rem;
    background-color: darkseagreen;
    border: 0.4rem black solid;
}
.conten1{
    width: 90%;
    height: 90%;
    padding: 2rem;
    margin: auto;
    background-color: rgb(131, 255, 255);
    border-radius: 2rem;
    border: 0.2rem black solid;
}
.article1{
    width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
    background-color: rgb(166, 255, 255);
    border-radius: 2rem;
    padding: 1rem;
    border: 0.2rem black solid;
}
.title-box{
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: aqua;
    border-radius: 2rem;
    border: 0.2rem black solid;
}
.title-box h1{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.p{
    text-align: justify;
    font-size: 1.1rem;
}
.line{
    color: rgb(255, 119, 0);
}
